<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 13749468,playbookUuid: '9607a62f-4ea0-4725-a219-346b1652cdd7',version: 2};(function () {var w = window;if (w.LeadBooster) {console.warn('LeadBooster already exists');} else {w.LeadBooster = {q: [],on: function (n, h) {this.q.push({ t: 'o', n: n, h: h });},trigger: function (n) {this.q.push({ t: 't', n: n });},};}})();</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>
<body>
    <header>
        <!-- Navigation -->
        <nav class="top-menu-container">
            <div class="logo-header">
                <a href="">
                    <img
                    src="https://cdn.pixabay.com/photo/2017/02/18/19/20/logo-2078018_960_720.png"
                    alt="Logo personal portfolio"
                    title="Logo personal portfolio"
                    />
                </a>
            </div>

            <ul>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Portfolio</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Hero background & content on top of hero background -->
    <div id="hero-container">
        <div class="hero-wrapper">
            <h1>Okpala Kenechukwu Victor <br> <span class="line">SaaS Deployment</span><br> <span class="orange-txt">Specialist</span></h1>

            <div class="btn-wrapper">
                <a href="https://www.linkedin.com/in/ovkenechukwu" target="_blank" rel="noopener noreferrer">Let's connect</a>
                <a href="">View Portfolio</a>
            </div>
        </div>
    </div>

    <!-- 4 grid layout skills on homepage -->
    <!-- Every div is a grid item -->
    <div class="container-grid-4">
        <div>
            <img src="{{ url_for('static', filename='img/Tsupport.png') }}" alt="Image description">
            <h2>
                Technical Support
            </h2>
            <p>
                Customer and Tech support specialist
            </p>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/webdev.png') }}" alt="Image description">
            <h2>
                Web Development
            </h2>
            <p>
                Designs websites for companies and individuals 
            </p>
        </div>

        <div>
            
            <img src="{{ url_for('static', filename='img/leadg.png') }}" alt="Image description">
            <h2>
                Lead Generation
            </h2>
            <p>
               Generated and Nutured leads for clients
            </p>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/auto.png') }}" alt="Image description">
            <h2>
                SaaS Deployment specialist
            </h2>
            <p>
                Running Automations for a company using Hubspot
            </p>
        </div>
    </div>

    <div class="header-section">
        <h2 class="dark big">Team</h2>

        <hr>
    </div>

    <!-- Meet the team section -->
    <div class="container-grid-2">
        <div>
            <img src="{{ url_for('static', filename='img/team-section-home.jpg') }}" alt="">
        </div>
        <div>
            <h2>
                Who am I
            </h2>

            <h3 class="orange-txt">
                Meet Me
            </h3>

            <p>
                Kenechukwu is a multifaceted professional with expertise in content creation, web development, and project management. A passionate advocate for cybersecurity, they raise awareness about cyber threats and trends through engaging content across social media platforms. With a strong background in technical support and lead generation, Kenechukwu is dedicated to leveraging their skills in the tech industry while exploring opportunities in the Web3 and AI space.
            </p>

            <div class="btn-wrapper">
                <a href="">About</a>
            </div>
        </div>
    </div>

    <div class="header-section">
        <h2 class="dark big">Skills</h2>

        <hr>
    </div>

    <!-- Section of skills -->
    <div class="section-why-us">
        <div>
            <i class="fas fa-code-branch icon-why-us"></i>
            <h2>
                Content Creation
            </h2>
            <p>
                Skilled in developing engaging written and visual content that effectively communicates complex topics, particularly in technology and cybersecurity.
            </p>
        </div>

        <div class="middle">
            <img src="img/icon-box.jpg" alt="">
        </div>

        <div>
            <i class="far fa-keyboard icon-why-us"></i>
            <h2>
                Project Management
            </h2>
            <p>
                Proficient in planning, executing, and monitoring projects, ensuring timely delivery and alignment with strategic goals while managing team dynamics
            </p>
        </div>

        <div>
            <i class="fab fa-google icon-why-us"></i>
            <h2>
                Technical Support
            </h2>
            <p>
                Experienced in providing hands-on technical assistance and troubleshooting for various software and platforms, enhancing user experience and operational efficiency.
            </p>
        </div>

        <div>
            <i class="fas fa-globe icon-why-us"></i>
            <h2>
                Lead Generation
            </h2>
            <p>
                Expert in utilizing digital tools and strategies to identify and nurture potential clients, driving business growth through targeted outreach and engagement initiatives.
            </p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container-footer">
            <img
                src="https://cdn.pixabay.com/photo/2017/02/18/19/20/logo-2078018_960_720.png"
                alt="Logo personal portfolio"
                title="Logo personal portfolio"
                />
            <p>
                This website is created by Okpala Kenechukwu Victor
            </p>
        </div>
    </footer>
</body>
</html>
